<div>
  <div class="mb-2 2xl:mb-5 2xl:mt-5">
    <div>Formal</div>
    <div class="text-xs">
      <div class="bg-indigo-950 mb-2 mx-5 p-2 rounded-md text-left flex justify-between">
        <div>PKN STAN</div>
        <div class="text-slate-500">2014-2017</div>
      </div>
      <div class="bg-indigo-950 mx-5 p-2 rounded-md text-left flex justify-between">
        <div>Binus</div>
        <div class="text-slate-500">2022-2024</div>
      </div>
    </div>
  </div>
  <div>
    <div>Informal</div>
    <a class="text-xs bg-indigo-950 mx-5 p-2 rounded-md text-left flex justify-between"
      href="https://app.100xdevs.com/">
      <div>100xdevs Cohort</div>
      <div class="text-slate-500">2023-2024</div>
    </a>
  </div>
</div>
