<div *ngFor="let e of experiences" class="text-left pb-2 2xl:pb-3">
  <div class="p-5 md:p-0 md:ml-2">
    <div class="hidden md:block md:text-xs font-semibold">• {{e.name}} - {{e.program}}</div>
    <div class="md:hidden md:text-xs font-semibold">{{e.name}}</div>
    <div class="md:hidden md:text-xs font-semibold">{{e.program}}</div>
    <div class="text-md md:text-xs text-slate-500">{{e.time}}</div>
  </div>
</div>

<!-- { -->
<!--       "name": "Fullstack Web Development", -->
<!--       "program": "Cohort", -->
<!--       "time": "Oktober 2023 - Mei 2024", -->
<!--       "desc": "Mempelajari teknologi full-stack web development, mencakup: Backend: Node.js, MongoDB, PostgreSQL, TypeScript, Express, Prisma, JWT, Cloudflare Workers, dan strategi scaling. Frontend: ReactJS, Zustand, Tailwind CSS, Shadcn UI, Next.js. DevOps: Deployment pada AWS EC2 (backend), S3 dan CloudFront (frontend), Nginx, Docker, dan CI/CD dengan GitHub." -->
<!--     }, -->
